$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-linkedin: "\e900";
$icon-twitter: "\e901";
$icon-previous: "\e902";
$icon-next: "\e903";
$icon-insta: "\e904";
$icon-facebook: "\e905";
$icon-envelope: "\e907";
$icon-phone: "\e908";
$icon-location: "\e947";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";

